header{

    nav{
        background-color: yellowgreen;
        padding-top: 25px;
        padding-right: 10px;
            ul{
                li{
                 width: 5rem;
                display: inline-block;
                padding: 15px;
                list-style: none;
                 }
            }
        }
}