
@import "grids";
@import "nav";
@import "map";
@import "extend";
.overflow{
    overflow: hidden;
}
.m20{
    margin: 20px;
}
.centro{
    text-align: center;
}

.border{
    border: 2px solid black;
}
li{
    list-style: none;
}


