
@import "grids";
@import "nav";
@import "footer";
.m20{
    margin: 20px;
}
.centro{
    text-align: center;
}
.colortabla{
    background-color: yellowgreen;
}
.border{
    border: 2px solid black;
}
li{
    list-style: none;
}


